.errorPage{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.errorPage > *{
    font-size: 40px;
    color:rgb(241, 122, 26);
}

.errorPage > p{
    font-size: 25px;
    color:rgb(241, 122, 26);
}

.errorPage > Button{
    font-size: 15px;
    color:white;
    background-color: rgb(241, 122, 26);
}

.errorPage > Button:hover{
    color:rgb(241, 122, 26);
    background-color: rgb(255, 251, 248);
}

.notResult{
    border: 1px solid rgb(241, 122, 26);
    color: rgb(241, 122, 26);
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    width: 500px;
    height: 40px;
}