@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.card{
    width: 70%;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
    transform:scale(0.9);
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 2px 7px #dfdfdf;
}

.product-card {
    padding: 20px;
    position: relative;
    margin: 10px auto;
    width:"50%";
    height:"45%";
}

.badge {
    position: absolute;
    top: 5px;
    left: 5px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.product-tumb img {
    width: 130px;
    height: 130px;
}

.product-details {
    width:"100%";
    height:"100%";
    padding-top: 10px;
}

.product-details h4 {
    color: rgb(72, 72, 72);
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.product-bottom-details {
    overflow: hidden;   
    padding-top: 10px;
}

.product-bottom-details div {
    float: left;
    width: 10%;
}

.product-price {
    font-size: 20px;
    color: #484848;
    font-weight: 450;
}

.product-price small {
    font-size: 70%;
    font-weight: 300;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
    color: rgb(167, 167, 167);
}

.rating{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.ratingNum{
    font-size:11px;
    margin-left: 5px;
    opacity: 0.4;
}

.swiper-slide{
    transform: scale(0.9);
}

.swiper-slide-active{
    transform: scale(1.1);
}