*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: calc(100vh / 7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.redirects{
    display: flex;
}

.redirects img{
    width:146px;
    margin-top: 10px;
}

.redirects button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:lighter;
    column-gap: 5px;
    background-color: transparent;
}

.redirects button:hover{
    color:rgb(242, 121, 25);
    cursor: pointer;
}

.rightButtons{
    justify-content: center;
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.NavbarItemCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}

.categories{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    border-bottom: 1px solid rgb(232, 232, 232);
    padding-top: 10px;
}

.categories button{
    font-weight: bold;
    background-color: transparent;
}

.categories button:hover{
    border-bottom: 1.5px solid rgb(242, 121, 25);
    color: rgb(242, 121, 25);
    cursor: pointer;
}